RewriteEngine On
RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ /$1 [L]

RewriteCond %{REQUEST_URI} ^application.*
RewriteRule ^(.*)$ /$1 [L]

RewriteCond %{REQUEST_URI} ^index.php.*
RewriteRule ^(.*)$ /$1 [L]

RewriteRule ^(.*)$ index.php/$1 [L]
